<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
		<link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

		<div class="site">
          <div class="header">
            <a class="title" href="/">{{ site.name }}</a>
            <a class="extra" href="/notes/">notes</a>
            <a class="extra" href="/python/">python</a>
          </div>
          <div id="main-page">
          {{ content }}
          </div>
          <div class="footer">
            <div class="contact">
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/kiamgrebgnur">github.com/kiamgrebgnur</a><br />
                <a href="https://twitter.com/kiamgrebgnur">twitter.com/kiamgrebgnur</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
